/* } */

.backColor {
    background-color: rgba(0, 0, 0, 0.6)
}

.contain{
    height: 600px;
    width: 100%
}


.backImage {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .carouselHeight {
        height: 100vh;
    }

    .swiper {
        width: 100%;
        height: 600px;
    }
}

@media screen and (max-width: 800px) {
    /* .carouselHeight {
        height: 100vh;
    } */

    .swiper {
        width: 100%;
        height: 600px;
    }
  

}


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}





.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}