
    .carouselHeight {
        height: 100vh;
    }
/* } */

.backColor {
   background-color: rgba(0, 0, 0, 0.6)
}


.backImage {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 100vh;
    width: 100%;
}