body {
    /* background: #ccc; */
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.HeroNavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 2;
}

.HeroNavbar,
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.brand {
    font-weight: bold;
    font-size: 1.3em;
}

/* button {
    border: none;
    transition: 0.3s;
    cursor: pointer;
} */

.btn {
    font-size: 1.1em;
    background: #428aff;
    padding: 0.5em 2.3em;
    border-radius: 8px;
    color: #fff;
}

.btn:hover {
    background: #3877db;
}

.menu-btn {
    margin-left: 1em;
    background: none;
    display: inline-block;
}

.menu-btn span {
    font-size: 2.3em;
}

.HeroDropdown>div,
.sub-dropdown>div {
    cursor: pointer;
}

.HeroDropdown .HeroMenu a:hover {
    color: #9b9b9b;
}


@media screen and (min-width: 800px) {
    .HeroNavbar {
        padding: 0.1.5em;
    }

    .HeroDropdown>div {
        padding: 1.5em 1em;
    }

    .mega-menu {
        display: flex;
        justify-content: center;
    }

    .menu-btn {
        display: none;
    }


    .HeroMenu {
        background: #fff;
        position: absolute;
        top: 4.3em;
        left: 0;
        width: 100%;
        padding: 0.2em;
        overflow-y: scroll;
        transition: 0.4s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
    }


    .HeroMenu>li:first-child {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
    }

    .sub-dropdown>div span:first-child {
        font-weight: bold;
    }

    .HeroDropdown>div {
        border-bottom: 3px #fff solid;
        transition: 0.3s;
    }

    .HeroDropdown:hover>div {
        border-color: #000;
    }

    .HeroDropdown li {
        margin-bottom: 1em;
    }

    .HeroDropdown>div span:last-child,
    .sub-dropdown>div {
        display: none;
    }

    .HeroMenu::-webkit-scrollbar {
        width: 8px;
    }

    /* track */
    .menu::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* handle */
    .HeroMenu::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* handle on hover */
    .HeroMenu::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* hide menu */
    .HeroMenu {
        height: 0;
    }

    .HeroDropdown:hover .HeroMenu {
        height: 50vh;
        padding: 2em;
    }
}


@media screen and (max-width: 800px) {
    .HeroNavbar {
        padding: 1em 1.5em;
    }

    .menu-container {
        background: #fff;
        position: absolute;
        top: 4.4em;
        left: 0;
        width: 100%;
        overflow-y: hidden;
        transition: 0.3s ease-in-out;
    }

    .mega-menu::-webkit-scrollbar {
        width: 8px;
    }

    .mega-menu::-webkit-scrollbar-track {
        background: #f1f1f1;
    }


    /* handle */
    .HeroMenu::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* handle on hover */
    .HeroMenu::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .mega-menu {
        padding: 0 1em 1em 1em;
        height: 100%;
        overflow-y: scroll;
    }

    .mega-menu li {
        font-weight: bold;
        font-size: 1.1em;
    }

    .mega-menu li>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }

    .HeroMenu li {
        padding: 0 1em;
        font-size: 1em;
        font-weight: 400;
    }

    .HeroMenu a {
        display: block;
        margin: 0.8em 0;
    }

    .HeroMenu {
        display: none;
    }


    /* toggle class for js */
    .menu-show {
        display: block;
    }

    .meterial-symbls-outlined {
        transition: 0.3s;
    }

    /* Toggle class for js */
    .icon-rotated {
        transform: rotate(90deg);
    }

    .HeroDropdown>div,
    .sub-dropdown>div {
        cursor: pointer;
        padding: 0.5em;
    }

    .sub-menu {
        font-size: 0.9em;
        display: none;
    }

    /* toggle class for js */
    .sub-menu-show {
        display: block;
    }

    .HeroDropdown:hover>div,
    .sub-dropdown:hover>div {
        background: #dbdbdb;
    }

    .menu-container {
        height: 0;
    }


    /* toggle class for js */
    .mega-menu-show {
        height: 50vh;
    }

    .menu-open {
        height: 18em;
    }
}