

.shortDetails{
    height: auto;
    width: 100%;
    background: url(https://cdn.pixabay.com/photo/2016/11/29/12/41/desk-1869579__340.jpg) no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 800px){
    .shortDetails{
        height: auto;
    }
}